apiVersion: testworkflows.testkube.io/v1
kind: TestWorkflowTemplate
metadata:
  name: ragas-setup-template
  namespace: {{ include "testbench.namespace" . }}
  labels:
    {{- include "testbench.labels" . | nindent 4 }}
    {{- include "testbench.workflowLabels" . | nindent 4 }}

spec:
  # Configuration parameters that can be overridden
  config:
    bucket:
      type: string
      description: "S3/MinIO bucket name containing the dataset"
    key:
      type: string
      description: "S3/MinIO object key (path to dataset file in .csv / .json / .parquet format)"

  # Steps to execute
  steps:
    - name: setup
      artifacts:
        paths:
          - "data/datasets/ragas_dataset.jsonl"
      run:
        image: {{ include "testbench.image" . }}
        args:
          - setup.py
          - "{{`{{ config.bucket }}`}}"
          - "{{`{{ config.key }}`}}"
