apiVersion: v1
kind: Service
metadata:
  name: data-server
  labels:
    app: data-server
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: data-server
