apiVersion: testworkflows.testkube.io/v1
kind: TestWorkflow
metadata:
  name: multi-turn-workflow
  namespace: testkube
  labels:
    testkube.io/test-category: ragas-evaluation
    app: testworkflows

spec:
  content:
    files:
      - path: /data/datasets/ragas_dataset.jsonl
        contentFrom:
          configMapKeyRef:
            name: dataset
            key: dataset.jsonl
      - path: /app/config/metrics.yaml
        contentFrom:
          configMapKeyRef:
            name: multi-turn-metrics-config
            key: metrics.yaml

  use:
  - name: ragas-run-template
    config:
      agentUrl: "http://weather-agent.sample-agents:8000"
  - name: ragas-evaluate-template
    config:
      model: "gemini-2.5-flash-lite"
  - name: ragas-publish-template
  - name: ragas-visualize-template