#
# GitHub Action: Check-Testworkflows
#
# This workflow is triggered on pushes to main and renovate branches, as well as
# pull requests. It runs backend checks to ensure code quality.
#
name: Check-Testworkflows

on:
  push:
    branches:
      - main
      - 'renovate/**'
  pull_request:

jobs:
  check-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: 'actions/checkout@v5'

      - name: Install uv
        uses: 'astral-sh/setup-uv@v6'
        with:
          version: "0.8.17"
          enable-cache: true

      - name: Setup Python
        uses: 'actions/setup-python@v6'
        with:
          python-version-file: ".python-version"

      - name: Install Dependencies
        run: uv sync --all-packages

      - name: Run checks
        run: uv run poe check