name: Tests

on:
  push:
    branches:
      - main
      - 'renovate/**'
  pull_request:

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'

    defaults:
      run:
        working-directory: testworkflows

    steps:
      - name: Clone the code
        uses: 'actions/checkout@v5'

      - name: Install uv
        uses: 'astral-sh/setup-uv@v6'
        with:
          version: "0.8.17"
          enable-cache: true

      - name: Setup Python
        uses: 'actions/setup-python@v6'
        with:
          python-version-file: "testworkflows/.python-version"

      - name: Install Dependencies
        run: uv sync --all-packages

      - name: Run Tests
        run: uv run poe test
