name: Test Testworkflows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-testworkflows:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: testworkflows

    steps:
    - name: Checkout
      uses: 'actions/checkout@v5'

    - name: Install uv
      uses: 'astral-sh/setup-uv@v6'
      with:
        version: "0.8.17"
        enable-cache: true

    - name: Set up Python
      uses: 'actions/setup-python@v6'
      with:
        python-version-file: ".python-version"

    - name: Install Dependencies
      run: uv sync --all-packages

    - name: Run pytest (skip E2E tests)
      run: uv run pytest tests/ -v
