#
# GitHub Action: E2E Tests
#
# This workflow is triggered on pushes to main and renovate branches, as well as
# pull requests. It runs E2E Tests to ensure the code is working.
#
name: E2E Tests

on:
  push:
    branches:
      - main
      - 'renovate/**'
  pull_request:

env:
  # Required environment variables for the E2E test
  GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone the code
        uses: 'actions/checkout@v5'

      - name: Set up Kubernetes (kind)
        uses: 'helm/kind-action@v1'
        with:
          cluster_name: 'kind'
          # testkube requires a local registry: https://docs.testkube.io/articles/test-workflows#container-image
          registry: 'true'
          registry_name: local-registry
          registry_port: 5000

      - name: Build TestWorkflow Docker Image
        run: |
          docker build -t local-registry:5000/testworkflows:e2e-test .
          docker push local-registry:5000/testworkflows:e2e-test

      - name: Install Tilt
        run: |
          curl -fsSL https://raw.githubusercontent.com/tilt-dev/tilt/master/scripts/install.sh | bash
          tilt version

      - name: Run Tilt CI
        run: tilt ci

      - name: Setup Testkube CLI
        uses: kubeshop/setup-testkube@v1

      # TODO: Use the built docker image above instead of the ghcr.io one
      - name: Run Test Workflow
        run: |
          testkube run testworkflow ragas-evaluation-workflow \
              --config datasetUrl="http://data-server.data-server:8000/dataset.csv" \
              --config agentUrl="http://agent-gateway-krakend.agent-gateway-krakend:10000/weather-agent" \
              --config metrics="nv_accuracy context_recall" \
              --config workflowName="Testworkflow-Name" \
              --config image="ghcr.io/agentic-layer/testbench/testworkflows:latest" \
              -n testkube \
              --watch
