apiVersion: testworkflows.testkube.io/v1
kind: TestWorkflowTemplate
metadata:
  name: ragas-setup-template
  namespace: testkube
  labels:
    testkube.io/test-category: ragas-evaluation
    app: testworkflows

spec:
  # Configuration parameters that can be overridden
  config:
    bucket:
      type: string
      description: "S3/MinIO bucket name containing the dataset"
    key:
      type: string
      description: "S3/MinIO object key (path to dataset file in .csv / .json / .parquet format)"

  # Steps to execute
  steps:
    - name: setup
      artifacts:
        paths:
          - "data/datasets/ragas_dataset.jsonl"
      run:
        args:
          - setup.py
          - "{{ config.bucket }}"
          - "{{ config.key }}"
